body,ul,li,p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  background-color: whitesmoke;
  overflow: hidden;
}

a{
  text-decoration: none;
}

.header{
  background-color: #1E90FF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: #FF8C00;
  font-weight: bold;
}

.menu{
  display: flex;
  padding: 15px;
}


.menu li{
  margin-left: 10px;
}

.main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.sobre{
  position: relative;
  display: grid;
  box-sizing: border-box;
  width: 500px;
  left: 10%;
  top: -25%;
  box-shadow: 9px 9px 5px -6px rgba(0,0,0,0.75);
  border-radius: 5%;
}

.sobre h1{
  color: #FF8C00;
  font-size: 1rem;
  text-align: center;
}

.sobre p{
  color: #1E90FF;
  font-size: 0.8rem;
  margin-left: 30px ;
}


.formulario form{
  top: 25%;
  position: relative;
}



.formulario input{
  position: relative;
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  background-color: whitesmoke;
}


.formulario h1{
  font-size: 1.5rem;
  color: #FF8C00;
}

.formulario label ,p{
  color: #1E90FF;
}

.visor p{
  position: relative;
  left: 25px;
}


#bot{
  position: relative;
  color: #1E90FF;
  background-color: whitesmoke;
  margin: 5px ;
  left: 70px;
  margin-top: 10px;
  border-style: none;
  font-size: 1rem;
  opacity: 0.4;
}


#bot:hover{
  opacity: 1;
}

.formulario input[type="number"]{
  border-radius: 5%;
  border: 1px solid #1E90FF ;
  color: #FF8C00;
  border-top: none;
  border-left: none ;
  border-right: none;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}